openai
streamlit_chat
PyGithub
streamlit_modal
tiktoken
langchain 
langgraph 
langchain_openai 
langchain_community 
langchain_anthropic 
langchain-together
langchain_core 
langchain_chroma 
langchain_experimental
e2b-code-interpreter
pysqlite3-binary
matplotlib